@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="WelcomeDiv" class="display-4">Welcome</h1>
    <button id="BtnChange" class="btn btn-primary" onclick="ChangeLang()">切換</button>
</div>

@section Scripts{
    <script src="~/Script/Home/Index.js"></script>
}
